@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'ZenDots';
    src: url('../fonts/ZenDots-Regular.ttf');
}