:root 
{
    --bgcolor: #232323;

}

* 
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--bgcolor);
}

nav
{
    z-index: 99999;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
}

.navDiv:nth-child(1)
{
    padding: 0;
}

.navDiv
{
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    margin: auto;
}

#navTitle
{
    font-size: 3rem;
    font-family: 'Pacifico';
    
}

#navList
{
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 1.5rem;
}

#navList a
{
    text-decoration: none;
    font-family: 'BebasNeue';
    color: black;
}

#chat
{
    padding: 1rem;
    background-color: transparent;
    border: 2px solid black;
    font-family: 'ZenDots';
    cursor: pointer;
}

#hamburger
{
    display: none;
}



@media (max-width: 800px) {
    nav
    {
        flex-direction: column;        
    }

    .navDiv:nth-child(3),
    .navDiv:nth-child(4)
    {
        display: none;
    }

    .navDiv.active:nth-child(3),
    .navDiv.active:nth-child(4)
    {
        display: block;
        transition: ease-in;
    }

    #hamburger{
        display: block;
        position: absolute;
        width: 43px;
        right: 0;
        top: 0;
        transform: translate(-50%, 50%);
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }
    
    #hamburger span
    {
        border-top: .2rem solid black;
        width: 100%;
    }

   
    #hamburger span:nth-child(1)
    {
        transform: translateY(-400%);
        position: absolute;
        transition: 200ms ease-in;
    }
    
    #hamburger span:nth-child(2)
    {
        position: absolute;
        transition: 200ms ease-in;
    }
    
    #hamburger span:nth-child(3)
    {
        position: absolute;
        transition: 200ms ease-in;
    }
    
    
    #hamburger span:nth-child(4)
    {
        
        transform: translateY(400%);
        transition: 200ms ease-in;
    }

    #hamburger.active span:nth-child(1)
    {
        scale: 0;
        position: absolute;
        transition: 200ms ease-out;
    }
    
    #hamburger.active span:nth-child(2)
    {
        transform: rotate(-45deg);
        transition: 200ms ease-out;
    }
    
    #hamburger.active span:nth-child(3)
    {

        transform: rotate(45deg);
        position: absolute;
        transition: 200ms ease-out;
    }

    #hamburger.active span:nth-child(4)
    {

        scale: 0;
        position: absolute;
        transition: 200ms ease-out;
    }


}






