:root 
{
    --bgcolor: #232323;
    --fontcolor: white;
    --hovercolor: red;
}

* 
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--bgcolor);
}

nav
{
    background-color: var(--bgcolor);
    z-index: 99999;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    box-shadow: 0px 1px 30px 5px;
    
}

.navDiv:nth-child(1)
{
    padding: 1rem;
}

.navDiv
{
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    margin: auto;
}

#navTitle
{
    font-size: 3rem;
    font-family: 'Pacifico';
    color: var(--fontcolor);
}

#navList
{
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 1.5rem;
}

#navList a
{
    text-decoration: none;
    font-family: 'BebasNeue';
    color: var(--fontcolor);
}

#navList a:hover
{
    color: var(--hovercolor);
    border-block: 10px solid var(--hovercolor);
    border-radius: 10px;
    transition: 200ms ease-in;
}


#socials
{
    display: flex;
    gap: 2rem;
}

#socials a
{
    color: var(--fontcolor);
    font-size: 2rem;
}

#socials a:hover
{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#facebook:hover
{
    background: #4267B2;
}

#instagram:hover
{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

#whatsapp:hover
{
    background: #25D366;
}

#twitter:hover
{
    background: #1DA1F2;
}

#hamburger
{
    display: none;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  bottom: 10%;
  box-shadow: inset 0 0 0 1px #fff;
  border: 2px solid white;
  border-radius: 25px;
  transform: translateX(-50%);
}

.text-scroll
{
    color: var(--fontcolor);
    position: absolute;
    transform: translate(-8%, 400%);
    font-family: 'BebasNeue';
    width: 200px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  bottom: unset;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll-down1;
}

@keyframes scroll-down1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll-down2 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-46px);
    }
  }

.container
{
    height: auto;
    padding: 0 clamp(2rem, 2vw, 8rem);
}

.content
{
    min-height: 100vh;
    display: flex;
}

.content section
{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
}

#introduction div
{
    
    margin: auto;
    
    
}

#introduction div h2
{
    font-size: clamp(3.5rem, 4vw, 6rem);
    color: var(--fontcolor);
    border-bottom: 2px solid var(--fontcolor);
    font-family: 'BebasNeue';
}

#introduction div p
{
    font-size: clamp(2rem, 4vw, 3rem);
    font-family: 'Oswald';
    color: var(--fontcolor);
}

#introduction div #desc
{
    font-size: clamp(1.5rem, 4vw, 2rem);
}







@media (max-width: 800px) {
    nav
    {
        flex-direction: column;        
    }

    .navDiv:nth-child(3),
    .navDiv:nth-child(4)
    {
        display: none;
    }

    .navDiv.active:nth-child(3),
    .navDiv.active:nth-child(4)
    {
        display: block;
        transition: ease-in;
    }

    #hamburger{
        display: block;
        position: absolute;
        width: 43px;
        right: 0;
        top: 1rem;
        transform: translate(-50%, 50%);
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }
    
    #hamburger span
    {
        border-top: .2rem solid var(--fontcolor);;
        width: 100%;
    }

   
    #hamburger span:nth-child(1)
    {
        transform: translateY(-400%);
        position: absolute;
        transition: 200ms ease-in;
    }
    
    #hamburger span:nth-child(2)
    {
        position: absolute;
        transition: 200ms ease-in;
    }
    
    #hamburger span:nth-child(3)
    {
        position: absolute;
        transition: 200ms ease-in;
    }
    
    
    #hamburger span:nth-child(4)
    {
        
        transform: translateY(400%);
        transition: 200ms ease-in;
    }

    #hamburger.active span:nth-child(1)
    {
        scale: 0;
        position: absolute;
        transition: 200ms ease-out;
    }
    
    #hamburger.active span:nth-child(2)
    {
        transform: rotate(-45deg);
        transition: 200ms ease-out;
    }
    
    #hamburger.active span:nth-child(3)
    {

        transform: rotate(45deg);
        position: absolute;
        transition: 200ms ease-out;
    }

    #hamburger.active span:nth-child(4)
    {

        scale: 0;
        position: absolute;
        transition: 200ms ease-out;
    }
      
      .content section {
        flex-basis: auto;
    }

    .icon-scroll:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: -4px;
        bottom: 8px;
        top: unset;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll-down2;
      }

      
    

}










